:root{
    --color: yellow;
    --primary_color:blue;
}

body{
    background-color: var(--color);
    display: flex;
    height: 100vh;
    place-items: center;
    place-content: center;
}

.timeline-wrapper{
    background-color: var(--primary_color);
    width: 500px;    
}