.hero{
    min-height: 100vh;
    display: flex;
    place-content: space-between;
    padding: 90px 15px;
    place-items: center;
    scroll-margin-top: 80px;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    place-content: start;
    /* padding: 20px; */
    padding-top: 40px;
    width: 60%;
    gap: .3rem;
    height: 400px;
    h1{
        font-size: 3.5rem;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 7px;
    }
    p{
        font-size: 1.1rem;
        line-height: 2rem;
        width: 500px;
    }
}

.buttons{
    min-height: 70px;
    display: flex;
    place-items: center;
    place-content: start;
    /* border: 1px solid; */
    gap: 1rem;
    max-width: 500px;
    /* flex-wrap: wrap; */
    *{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        outline: 0;
        border: 0;
        border-radius: 7px;
        /* color: #ccc; */
        transition: .4s;
        font-size: 1rem;
        font-weight: 800;
    }
}

.shop{
    height: 60px;
    width: 50%;
    background-color: rgb(107, 41, 188);
    a{
        height: 50px;
        width: 500px;
        color: #fff
    }
    &:hover{
        transform: translateY(-2px);
        /* background-color: green; */
    }
}

.category{
    height: 60px;
    width: 50%;
    background:none;
    border: 1px solid #770eb5;
    color: #fff;
    &:hover{
        border: 1px solid #7673ff;
    }
}

.heroRight{
    width: 40%;
    height: 450px;
    /* border: 1px solid; */
    padding: 0px;
    .rightTop{
        /* border: 1px solid; */
        max-height: 70px;
        min-height: 60px;
        padding: 2px;
        padding-left: 0;
        display: flex;
        place-content: start;
        place-items: center;
        width: 100%;
        .search{
            z-index: 1;
            transform: translateX(24px);
        }
        input{
            all: unset;
            height: 45px;
            min-width: 65%;
            /* width: 100%; */
            max-width: 50vw;
            position: relative;
            padding-left: 32px;
            background-color: #4c0b0b;
            border-radius:10px 0 0px 10px;
            transition: .2s;
            &::placeholder{
                color: #c8b8b8;
            }
        }
        button{
            display: flex;
            gap: .7rem;
            place-content: center;
            place-items: center;
            border: 0;
            outline: 0;
            background-color: #fff;
            width: 90%;
            height: 45px;
            border-radius: 0 10px 10px 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            cursor: pointer;
            transition: .5s;
        }
    }
}

@media (max-width: 960px) {
    .heroLeft{
        width: 100%;
        h1{
        font-size: 2rem;
        }
        p{
            font-size: 1.3rem;
        }
        span{
            font-size: 1.1rem;
        }
    }

    .buttons{
        flex-direction: column;
        min-height: 150px;
        .contactBtn{
            width: 100%;
        }
        .servicesBtn{
                width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .heroLeft{
        margin-top: 50px;
    }
    .buttons{
        width: 100%;
        flex-direction: row;
        padding: 0;
        min-height: 70px;
        background-color: #000;
        *{
             font-size: .7rem;
        }
    }
        .heroRight{
        display: none;
    }
}

@media (max-width: 370px) {
    .hero{
        /* margin-top: 60px; */
        /* min-height: 70vh; */
        place-content: center;
        padding-top: 0px;
    }
    .heroLeft{
        padding-top: 60px;
        min-height: 100vh;
    }
}