.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 90px 15px;
    place-items: center;
    scroll-margin-top: 80px;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    place-content: start;
    /* padding: 20px; */
    padding-top: 40px;
    width: 60%;
    gap: 1.3rem;
    height: 400px;
    h1{
        font-size: 3.5rem;
        font-weight: bolder;
    }
    span{
        font-size: 1.1rem;
        line-height: 2rem;
        width: 500px;
        color: blue;
    }
}

.buttons{
    min-height: 70px;
    display: flex;
    place-items: center;
    place-content: start;
    /* border: 1px solid; */
    gap: 1rem;
    max-width: 500px;
    /* flex-wrap: wrap; */
    *{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        outline: 0;
        border: 0;
        border-radius: 7px;
        /* color: #ccc; */
        transition: .4s;
        font-size: 1rem;
        font-weight: 800;
    }
}

.shop{
    height: 60px;
    width: 50%;
    background-color: rgb(107, 41, 188);
    a{
        height: 50px;
        width: 500px;
        color: #fff
    }
    &:hover{
        transform: translateY(-2px);
        /* background-color: green; */
    }
}

.category{
    height: 60px;
    width: 50%;
    background:none;
    border: 1px solid #770eb5;
    color: #fff;
    &:hover{
        border: 1px solid #7673ff;
    }
}

.heroRight{
    width: 40%;
    background-color: rgb(14, 14, 89);
    height: 400px;
    border-radius: 20px;
}

@media (max-width: 960px) {
    .heroLeft{
        width: 100%;
        h1{
        font-size: 2rem;
        }
        p{
            font-size: 1.3rem;
        }
        span{
            font-size: 1.1rem;
        }
    }

    .buttons{
        flex-direction: column;
        min-height: 150px;
        .contactBtn{
            width: 100%;
        }
        .servicesBtn{
                width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .heroLeft{
        margin-top: 50px;
    }
    .buttons{
        width: 100%;
        flex-direction: row;
        padding: 0;
        min-height: 70px;
        background-color: #000;
        *{
             font-size: .7rem;
        }
    }
        .heroRight{
        display: none;
    }
}

@media (max-width: 370px) {
    .hero{
        /* margin-top: 60px; */
        /* min-height: 70vh; */
        place-content: center;
        padding-top: 0px;
    }
    .heroLeft{
        padding-top: 60px;
        min-height: 100vh;
    }
}