.formBody{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
}

.form_container{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    /* border: 1px solid; */
    width: 50%;
    /* background-color: #ccc; */
}

.loginForm{
    background-color: rgba(77, 43, 43, 0.273);
    height: 90%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    border-radius: 10px;
    gap: .7rem;
    /* border: 1px solid; */
    h2{
        margin-bottom: 15px;
    }
    .inputGroup{
        /* background-color: #fff; */
        width: 90%;
        div{
            display: flex;
            place-items: center;
        }
    }
    label{
        display: flex;
        gap: .5rem;
        font-size: .9rem;
        margin: 10px;
        width: 100%;
        margin-left: 0;
    }
    input{
        all: unset;
        height: 45px;
        flex: 1;
        min-width: 95%;
        /* width: 100%; */
        max-width: 50vw;
        position: relative;
        padding-left: 20px;
        background-color: #a70000;
        border-radius: 10px;
        transition: .2s;
        &::placeholder{
            color: #c8b8b8;
        }
    }
    input:focus{
        border: 2px solid;
        transform: translateX(2px);
        background-color: #610f0f;
    }
    .eye, .eyeSlash{
        transform: translateX(-40px);
        cursor: pointer;
    }
    .eye.active{
        display: none;
    }
    .eyeSlash{
        display: none;
    }
    button{
        display: flex;
        gap: .7rem;
        place-content: center;
        place-items: center;
        border: 0;
        outline: 0;
        background-color: #fff;
        width: 90%;
        height: 45px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        cursor: pointer;
        transition: .5s;
        margin-top: 10px;
    }
    button:hover{
        transform: translateY(-3px);
        box-shadow: 0 6px 23px rgba(255, 255, 255, 0.683);
        background-color: #ccc;
    }
    .options{
        display: flex;
        place-items: center;
        place-content: center;
        gap: 1rem;
        width: 100%;
        div{
            background-color: #8f3131;
            height: 1px;
            width: 40%;
        }
    }
    a{
        text-decoration: none;
        display: flex;
        place-content: center;
        place-items: center;
        background-color: #7e2d2d;
        width: 90%;
        text-align: center;
        height: 40px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        cursor: pointer;
        color: #fff;
        transition: .3s;
        &:hover{
            transform: translateY(-2px);
        }
    }
    .icon{
        position: relative;
        /* top: ; */
        left:-10%;
        width: 20px;
    }
}

.gadget{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    text-align: center;
    width: 50%;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    h1{
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 5px;
    }
    .advert{
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        margin-top: 25px;
        width: 85%;
    }
    .item{
        display: flex;
        place-items: center;
        padding: .6rem;
        gap: 1rem;
        .icon{
            padding: 10px;
            border: 2px solid;
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 960px) {
    .gadget{
        display: none;
    }
    .form_container{
        padding: 0;
        width: 100vw;
    }
}