.formBody{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    width: 100vw;
}

.form_container{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    /* border: 1px solid; */
    width: 50%;
    /* background-color: #ccc; */
}

.loginForm{
    background-color: rgba(77, 43, 43, 0.273);
    height: 90%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    border-radius: 10px;
    gap: 1.2rem;
    /* border: 1px solid; */
    h2{
        margin-bottom: 15px;
    }
    .inputGroup{
        /* background-color: #fff; */
        width: 90%;
    }
    input{
        all: unset;
        height: 45px;
        min-width: 95%;
        /* width: 100%; */
        max-width: 50vw;
        position: relative;
        padding-left: 20px;
        background-color: #000;
        border-radius: 10px;
        /* border: 1px solid; */
    }
    input:focus{
        border: 1px solid;
    }
    button{
        border: 0;
        outline: 0;
        background-color: #fff;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        cursor: pointer;
        transition: .5s;
    }
    button:hover{
        background-color: #ccc;
    }
    .options{
        display: flex;
        place-items: center;
        place-content: center;
        gap: 1rem;
        width: 100%;
        div{
            background-color: #fff;
            height: 1px;
            width: 40%;
        }
    }
    a{
        text-decoration: none;
        display: flex;
        place-content: center;
        place-items: center;
        background-color: #fff;
        width: 90%;
        text-align: center;
        height: 40px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        cursor: pointer;
        color: #000;
        transition: .5s;
    }
    .icon{
        position: relative;
        /* top: ; */
        left:-10%;
        width: 20px;
    }
}

.gadget{
    display: flex;
    place-content: center;
    place-items: center;
    text-align: center;
    width: 50%;
}

@media (max-width: 960px) {
    .gadget{
        display: none;
    }
    .form_container{
        padding: 0;
        width: 100vw;
    }
}