.card{
    /* min-width: 50vw; */
    display: flex;
    flex-direction: column;
    gap: 0rem;
    min-height: 550px;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 0;
    transition: .4s;
    z-index: 0;
    border: 1px solid transparent;
    width: 100%;
    &:hover{
        border: 1px solid blue;
        box-shadow: 0 12px 32px rgba(147, 51, 234, 0.2);
        transform: translateY(-5px);
        /* background-color: #000; */
    }
}

.cardTop{
    height: 60%;
    background-color: rgb(14, 14, 89);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    place-content: center;
    place-items: center;
    *{
        width: 90px;
        height: 90px;
    }
}

.cardBottom{
    display: flex;
    flex-direction: column;
    height: 40%;
    padding: 20px;
    background-color: rgb(77, 12, 61);
    border-radius: 0 0 10px 10px;
    gap: 1rem;
    .category{
        font-size: .8rem;
        text-transform: uppercase;
        color: blue;
    }
    .name{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .price{
        font-weight: 900;
        font-size: 1.5rem;
    }
}

.cardDetails{
    display: flex;
    place-items: center;
    place-content: space-between;
    margin-top: 20px;
    .icon{
        background-color: blue;
        width: 25px;
        height: 25px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.textWrapper{
    display: flex;
    gap: 1.4rem;
    place-items: center;
    /* border: 1px solid; */
    text-align: center;
}

@media (max-width: 960px) {
    .desc{
        line-height: normal;
        font-size: 1rem;
    }
    .textWrapper{
        gap: 1rem;
        text-align: start;
    }
}

@media (max-width: 490px) {
        .icon{
        font-size: 2rem;
    }
}
