.services{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;
    padding: 20px;
    scroll-margin-top: 100px;
}

.head{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.3rem;
}

.headTitle{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.headSubtitle{
    width: 70%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.wrapper{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.link{
    display: flex;
    place-content: center;
    place-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 190px;
    height: 55px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .services{
        margin-top: 40px;
        padding: 0px;
    }
    .headTitle{
        font-size: 1.5rem;
    }
    .headSubtitle{
        font-size: 1rem;
    }
    .wrapper{
        width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(50vw,1fr));
    }
}