@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* height: 100%; */
    overflow-x: hidden;
}

body{
    color: #ffff;
    /* color: #666666; */
    /* background-color: rgb(254, 254, 255);  */
    background-color: #0f0920;
    font-family: 'Roboto', sans-serif;
}

main{
    padding-top: 50px;
}

.scroll{
    opacity: 0;
    transform: translateY(120px);
    transition: .3s;
}

scroll.is-visible{
    opacity: 1;
    transform: translateY(0);
}